code {
  font-family: monospace, monospace !important;
  font-size: .8rem !important;
  text-shadow: none !important;
}

pre {
  border-radius: var(--radius);
  padding: 8px 16px !important;
  background-color: var(--bg-color) !important;
}
