.text-center {
  text-align: center;
}

.space-bottom {
  margin-bottom: var(--space);
}

.flex {
  display: flex;
  &.space-between {
    justify-content: space-between;
  }
  &.items-center {
    align-items: center;
  }
}

.capitalize {
  text-transform: capitalize;
}
