// Light Color Variables
[data-theme="light"] {
  --color-red: #ff3b30;
  --color-orange: #ff9500;
  --color-yellow: #ffcc00;
  --color-green: #34c759;
  --color-teal: #5ac8fa;
  --color-blue: #007aff;
  --color-indigo: #5856d6;
  --color-purple: #af52de;
  --color-pink: #ff2d55;
  --color-white: #ffffff;
  --color-black: #1e1e1e;
  --color-gray-01: #575759;
  --color-gray-02: #6a6a6d;
  --color-gray-03: #7e7e80;
  --color-gray-04: #919194;
  --color-gray-05: #a5a5a8;
  --color-gray-06: #b8b8bc;
  --color-gray-07: #cbcbcf;
  --color-gray-08: #dfdfe3;
  --color-gray-09: #f2f2f7;
}

// Light Color Variables
[data-theme="dark"] {
  --color-red: #ff453a;
  --color-orange: #ff9f0a;
  --color-yellow: #ffd60a;
  --color-green: #32d74b;
  --color-teal: #64d2ff;
  --color-blue: #0a84ff;
  --color-indigo: #5e5ce6;
  --color-purple: #bf5af2;
  --color-pink: #ff2d55;
  --color-white: #1e1e1e;
  --color-black: #ffffff;
  --color-gray-01: #adadae;
  --color-gray-02: #9b9b9c;
  --color-gray-03: #89898a;
  --color-gray-04: #777778;
  --color-gray-05: #656566;
  --color-gray-06: #525254;
  --color-gray-07: #404042;
  --color-gray-08: #2e2e30;
  --color-gray-09: #1c1c1e;
}

// Default variables
html {
  --base-font-size: 16px;
}

// Light default theme
body {
  --bg-color: var(--color-gray-09);
  --bg-content-color: #ffffff;
  --primary-color: var(--color-indigo);
  --secondary-color: var(--color-gray-04);
  --light-color: #f9f9fa;
  --body-color: #0a0a19;
  --border-content: 1px solid rgba(0, 0, 0, 0.12);
  --radius: 16px;
  --shadow: 0 12px 15px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.15);
}

// Make  things smaller for mobile
@media screen and (max-width: 650px) {
  html {
    --base-font-size: 14px;
  }
}

// Override variables for Dark theme
body[data-theme="dark"] {
  --bg-color: var(--color-gray-08);
  --bg-content-color: var(--color-gray-09);
  --body-color: #e9e9fb;
  --radius: 16px;
  --border-content: 1px solid rgba(255, 255, 255, 0.12);
  --shadow: 0 12px 15px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.15);
}
