// Default variables
html {
  --base-font-size: 16px;
}

// Light default theme
body {
  --bg-color: #e6e6e9;
  --bg-content-color: #ffffff;
  --primary-color: #7C4DFF;
  --secondary-color: #9671ff;
  --light-color: #f9f9fa;
  --body-color: #0a0a19;
  --radius: 16px;
  --shadow: 0 4px 24px rgba(0, 0, 0, 0.03);
}

// Make  things smaller for mobile
@media screen and (max-width: 650px) {
  html {
    --base-font-size: 14px;
  }
}

// Override variables for Dark theme
body[data-theme="dark"] {
  --bg-color: #1c1c34;
  --bg-content-color: #03031e;
  --body-color: #e9e9fb;
  --radius: 16px;
  --shadow: 0 4px 24px rgba(255, 255, 255, 0.03);
}
