// Default variables
html {
  --base-font-size: 16px;
}

// Light default theme
body {
  --bg-color: #e9e9fb;
  --bg-content-color: #ffffff;
  --primary-color: #6764ff;
  --secondary-color: #7f7ebe;
  --body-color: #03031e;
  --radius: 16px;
  --shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

// Make  things smaller for mobile
@media screen and (max-width: 650px) {
  html {
    --base-font-size: 14px;
  }
}

// Override variables for Dark theme
body[data-theme="dark"] {
  --bg-color: #03031e;
  --bg-content-color: #16162f;
  --primary-color: #6764ff;
  --secondary-color: #7f7ebe;
  --body-color: #e9e9fb;
  --radius: 16px;
  --shadow: 0 4px 16px rgba(255, 255, 255, 0.15);
}
