.box {
	align-self: center;
	margin: 0 auto;
	padding: 1rem;
	max-width: 500px;

	&Image {
		max-width: 240px;
		margin: 0 auto;
		background-color: var(--img-bg-color, lightblue);
		border-radius: 50%;
		overflow: hidden;
		margin-bottom: 1rem;
	}

	&Info {
		text-align: center;
	}

	&Nav {
		text-align: center;
	}

	&Link {
		&:not(:last-child) {
			margin-right: .8rem;
		}
	}
}

.title {
	margin: 0;
}

.subtitle {
	margin: 0;
	font-size: 1.2rem;
}

.bio {
	margin: 1rem 0;
}
